h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0px;
  margin-bottom: 0px; }

html, body {
    font-family: 'Roboto', sans-serif;
    background-image: url("/Content/Main/images/download11.png"), url("/Content/Main/images/download.jpg");
    background-repeat: repeat-x, repeat, repeat;
    background-position: 0px 30px, 0% 0%, 0% 0%;
}
  html ::-webkit-scrollbar-track, body ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5; }
  html ::-webkit-scrollbar, body ::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5; }
  html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); }

.shop-basket, .individual {
  cursor: pointer;
  position: relative;
  float: left;
  margin-top: 20px;
  text-decoration: none; }
  .shop-basket:hover i, .individual:hover i {
    color: #FEBF00;
    transition: 1s; }
  .shop-basket p, .individual p {
    font-size: 11px;
    color: #a9a9a9;
    width: 180px; }
  .shop-basket big, .individual big {
    text-transform: uppercase;
    font-size: 15px;
    color: #484848; }
  .shop-basket i, .individual i {
    font-size: 2.8em;
    color: #fedf80;
    float: left;
    padding-right: 11px; }

.fixed {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 2;
  top: 0;
  border-top: 3px solid #FEBF00;
  padding-top: 10px; }

.top-header h3 {
  text-shadow: 2px 2px 8px white;
  font-weight: normal;
  font-variant: small-caps;
  color: #FEBF00;
  letter-spacing: 1pt;
  word-spacing: 2pt;
  font-size: 25px;
  text-align: left;
  font-family: comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
  line-height: 1; }
.top-header a {
  -webkit-transition: color .3s;
  transition: color .3s; }
.top-header .list-inline {
  font-size: 12px;
  margin-top: 6px; }
.top-header .menu-access {
  margin-top: 6px; }
  .top-header .menu-access ul {
    padding-left: 0px; }
  .top-header .menu-access li {
    list-style: none; }
  .top-header .menu-access a {
    text-decoration: none;
    font-size: 12px;
    color: #7C7C7C; }
.top-header .top-quick-access {
  margin-bottom: 25px; }
.top-header .send, .top-header .search-form-block input[type=search] {
  height: 42px;
  display: inline-block;
  margin-left: 0;
  border: 2px solid #fdcb32;
  border-radius: 2px;
  margin-right: -6px; }
.top-header .search-form-block input[type=search] {
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 53px); }
.top-header .send {
  width: 53px;
  background-color: #febf00;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 3px;
  cursor: pointer; }
  .top-header .send i {
    padding-top: 8px;
    font-size: 1.5em; }
.top-header .left-search-text {
  float: left; }
.top-header .right-search-text {
  float: right; }
.top-header .left-search-text b {
  margin-left: 5px;
  font-size: 15px;
  color: #febf00; }
.top-header .right-search-text b {
  margin-left: 5px;
  font-size: 15px;
  color: #febf00; }
.top-header .shop-basket {
  text-align: left;
  margin-top: 20px; }

@media (max-width: 991px) {
  .logo {
    margin: 40px auto 5px !important; }

  .right-search-text {
    display: none; } }
@media (max-width: 767px) {
  .top-header {
    position: static !important;
    height: auto !important; }

  .search-form-block {
    margin-bottom: 15px !important; } }
@media (max-width: 480px) {
  .left-search-text, .right-search-text {
    float: none;
    text-align: center; } }
.sifirla {
  margin: 0px;
  padding: 0px; }

@media (max-width: 767px) {
  .primary-menu ul li {
    width: 100%; }

  .primary-menu ul li:after {
    background: 0 0; } }
.navbar-toggle {
  float: none;
  margin: 8px 0;
  width: 100%;
  border: none;
  border-radius: 0;
  font-weight: 700;
  color: #febf00; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #febf00 !important;
  color: #fff; }

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-bottom: 3px solid #FEBF00; }

.top-primary-menu ul li a {
  font-size: 13px; }

#slider {
  margin-bottom: 20px; }
  #slider .product {
    border: 1px solid #C7BFB2;
    min-height: 300px;
    background: gray;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFD8A2, white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFD8A2, white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFD8A2, white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFD8A2, white);
    /* Standard syntax */ }
    #slider .product:hover {
      -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75); }
    #slider .product .discount {
        position: absolute;
        padding-top: 25px;
        padding-left: 21px;
        background: url(../Content/Main/images/discount.png) 10px 10px no-repeat;
        width: 60px;
        height: 60px;
    }
      #slider .product .discount span {
        color: white; }
    #slider .product .images a img {
      height: 230px;
      width: 100%; }
    #slider .product .detailes {
      padding: 0px 4px 6px 4px; }
      #slider .product .detailes h5 a {
        color: #727272;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600; }
        #slider .product .detailes h5 a:hover {
          color: #D32E12; }
      #slider .product .detailes .addShopp button {
        border: none;
        background: none; }
        #slider .product .detailes .addShopp button i {
          color: #FEBF00; }
      #slider .product .detailes .addShopp p {
        margin-left: 15px;
        color: black;
        padding-top: 5px;
        font-weight: 600;
        font-style: italic; }
  #slider .image {
    height: 250px;
    background-color: yellow; }
    #slider .image img {
      width: 100%;
      height: 100%;
      border: 5px solid #EEEADF; }
  #slider .hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px; }
  #slider #myCarousel {
    min-height: 300px; }
  #slider .img-responsive,
  #slider .thumbnail > img,
  #slider .thumbnail a > img,
  #slider .carousel-inner > .item > img,
  #slider .carousel-inner > .item > a > img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 300px; }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
  border: 5px solid #EEEADF; }

#show_case h3 {
  margin-left: 10px;
  padding-top: 10px;
  font-weight: 500;
  font-size: 1.3em; }
#show_case p {
  margin-right: 10px;
  margin-top: -5px; }
  #show_case p a {
    text-decoration: none;
    color: #FEBF00; }
#show_case .title {
    height: 50px;
    background-image: url("../Content/Main/images/header.png");
}
  #show_case .title h3, #show_case .title p {
    color: #FEBF00; }
#show_case .title_content img {
  height: 128px;
  width: 100%; }
#show_case .title_content h3 {
  margin-top: 15px;
  border-top: 1px dotted #727272;
  border-bottom: 1px dotted #727272; }
#show_case .title_content .addShopp {
  margin-top: 25px; }
  #show_case .title_content .addShopp button {
    display: inline-block;
    /*background: #fc3;*/
    background: -webkit-linear-gradient(#ffad33, #e68a00);
    background: -o-linear-gradient(#ffad33, #e68a00);
    background: -moz-linear-gradient(#ffad33, #e68a00);
    background: linear-gradient(#ffad33, #e68a00);
    height: 40px;
    width: 100px;
    margin-right: 15px;
    border: none;
    color: white;
    border-radius: 5px; }
    #show_case .title_content .addShopp button:hover {
      border-color: #888;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
      background: -webkit-linear-gradient(to top, #fc3, #f91);
      background: -o-linear-gradient(to top, #fc3, #f91);
      background: -moz-linear-gradient(to top, #fc3, #f91);
      background: linear-gradient(to top, #fc3, #f91);
      animation-name: buttonAnimation;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      /* hoveri cekmedikce eevvelki veziyetine qayitmamasi ucundu */ }
    #show_case .title_content .addShopp button:active {
      position: relative;
      top: 1px; }
    #show_case .title_content .addShopp button a {
      text-decoration: none;
      color: white; }
  #show_case .title_content .addShopp p {
    color: black;
    padding-top: 5px;
    font-weight: 600;
    font-style: italic; }
#show_case .best_seller {
  margin-bottom: 30px;
  min-height: 180px;
  border: 1px solid #C7BFB2;
  background: gray;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFD8A2, white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFD8A2, white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFD8A2, white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFD8A2, white);
  /* Standard syntax */ }
#show_case .new_product {
  margin-bottom: 30px;
  min-height: 180px;
  border: 1px solid #C7BFB2;
  background: gray;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFD8A2, white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFD8A2, white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFD8A2, white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFD8A2, white);
  /* Standard syntax */ }
#show_case .konsept {
  margin-bottom: 30px;
  min-height: 180px;
  border: 1px solid #C7BFB2;
  background: gray;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFD8A2, white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFD8A2, white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFD8A2, white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFD8A2, white);
  /* Standard syntax */ }

#products .title {
    min-height: 30px;
    background-image: url("Content/Main/images/header.png");
    margin-bottom: 30px;
}
  #products .title h3 {
    color: #FEBF00;
    line-height: 48px;
    font-weight: 500;
    font-size: 1.4em; }
#products .product {
  border: 1px solid #C7BFB2;
  margin-bottom: 30px;
  min-height: 320px;
  background: gray;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFD8A2, white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFD8A2, white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFD8A2, white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFD8A2, white);
  /* Standard syntax */ }
  #products .product:hover {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75); }
    #products .product .discount {
        position: absolute;
        padding-top: 25px;
        padding-left: 21px;
        background: url(../Content/Main/images/discount.png) 10px 10px no-repeat;
        width: 60px;
        height: 60px;
    }
    #products .product .discount span {
      color: white; }
  #products .product .images a img {
    height: 230px;
    width: 100%; }
  #products .product .detailes {
    padding: 0px 4px 6px 4px; }
    #products .product .detailes h5 a {
      color: #727272;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600; }
      #products .product .detailes h5 a:hover {
        color: #D32E12; }
    #products .product .detailes .addShopp button {
      border: none;
      background: none; }
      #products .product .detailes .addShopp button i {
        color: #FEBF00; }
    #products .product .detailes .addShopp p {
      margin-left: 15px;
      color: black;
      padding-top: 5px;
      font-weight: 600;
      font-style: italic; }

#about {
  min-height: 220px;
  background-color: #231a10;
  background: linear-gradient(#29150C, #010101);
  background: linear-gradient(#29150C, #010101);
  background: linear-gradient(#29150C, #010101);
  background: linear-gradient(#29150C, #010101); }
  #about img {
    margin-top: 30px; }
  #about ul {
    margin-top: 30px; }
    #about ul li {
      list-style: none;
      line-height: 25px; }
      #about ul li a {
        text-decoration: none;
        color: white; }

footer {
    background-image: url("../Content/Main/images/header.png");
    min-height: 38px;
    color: #FEBF00;
    padding: 10px 10px 0px 10px;
}
  footer p a{
	  color:#FEBF00;
	  text-decoration:none;
  }
  

.pagination {
  display: inline-block; }

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center; }

.pagination a.active {
  background-color: #FEBF00;
  color: white; }

.pagination a:hover:not(.active) {
  background-color: #ddd; }

#user .title {
    height: 50px;
    background-image: url("../Content/Main/images/header.png");
}
  #user .title h3 {
    color: #FEBF00;
    line-height: 48px;
    font-weight: 500;
    font-size: 1.4em;
    margin-left: 10px; }
#user .form-group {
  margin-bottom: 15px;
  margin-top: 15px; }
#user .btn {
  border-radius: 0px; }

#basket {
  min-height: 300px;
  margin-bottom: 15px; }
    #basket .title {
        height: 50px;
        background-image: url("../Content/Main/images/header.png");
    }
    #basket .title h3 {
      color: #FEBF00;
      line-height: 48px;
      font-weight: 500;
      font-size: 1.4em;
      margin-left: 10px; }
  #basket .basket_about th {
    text-align: center !important; }
  @media (max-width: 767px) {
    #basket .basket_about table {
      font-size: 11px;
      padding: 0; } }
  #basket .basket_product_buy {
    width: 100%; }
    #basket .basket_product_buy i {
      margin-left: 10px; }
    #basket .basket_product_buy .sifaris p {
      font-weight: 700;
      color: #737373; }
      #basket .basket_product_buy .sifaris p span {
        color: black; }
    #basket .basket_product_buy .title {
      margin-bottom: 15px; }
  #basket .hr1 {
    border-bottom: 1px solid #e6e6e6; }

#product_single .title {
    margin-bottom: 25px;
    min-height: 50px;
    background-image: url("../Content/Main/images/header.png");
}
  #product_single .title h3 {
    color: #FEBF00;
    line-height: 48px;
    font-weight: 500;
    font-size: 1.4em;
    margin-left: 10px; }
  #product_single .title i {
    margin: 0px 5px; }
  #product_single .title a {
    text-decoration: none;
    color: #FEBF00; }

@media (max-width: 780px) {
  #bzoom li img {
    display: none; } }
#add {
  margin-bottom: 25px; }
  #add .btn-secondary, #add .btn-success {
    border-radius: 0px;
    margin-left: 10px;
    margin-bottom: 5px; }
    #add .btn-secondary a, #add .btn-success a {
      text-decoration: none;
      color: white; }
    #add .btn-secondary i, #add .btn-success i {
      margin: 5px; }
  #add .btn-secondary {
    background-color: #FEBF00; }
    #add .btn-secondary:hover {
      background-color: #f91; }

#my_page {
  min-height: 352px; }
    #my_page .panel-heading {
        background-image: url("/Content/Main/images/header.png");
    }
    #my_page .panel-heading .panel-title span {
      margin-right: 10px; }
    #my_page .panel-heading .panel-title a {
      color: #FEBF00; }
  #my_page i {
    margin-right: 5px; }
    #my_page .title {
        background-image: url("/Content/Main/images/header.png");
    }
    #my_page .title h3 {
      color: #FEBF00;
      line-height: 38px;
      font-weight: 500;
      font-size: 1.4em;
      margin-left: 10px; }
  #my_page table tr td a {
    color: black; }
  #my_page .table-bordered th {
    text-align: center; }
  #my_page .table-bordered td {
    text-align: center; }
  #my_page .register {
    margin-top: 25px; }
  #my_page .btn i {
    margin-left: 5px; }

@media (max-width: 780px) {
  table tr td {
    font-size: 10px; }

  table th {
    font-size: 10px; } }
table {
  margin-top: 5px; }

#mehsulu_al .title {
    height: 50px;
    background-image: url("/Content/Main/images/header.png");
}
  #mehsulu_al .title h3 {
    color: #FEBF00;
    line-height: 48px;
    font-weight: 500;
    font-size: 1.4em;
    margin-left: 10px; }

.wizard {
  margin: 20px auto;
  background: #fff; }

.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0; }

.wizard > div.wizard-inner {
  position: relative; }

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1; }

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent; }

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px; }

span.round-tab i {
  color: #555555; }

.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de; }

.wizard li.active span.round-tab i {
  color: #5bc0de; }

span.round-tab:hover {
  color: #333;
  border: 2px solid #333; }

.wizard .nav-tabs > li {
  width: 25%; }

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out; }

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de; }

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0; }

.wizard .nav-tabs > li a:hover {
  background: transparent; }

.wizard .tab-pane {
  position: relative;
  padding-top: 50px; }

.wizard h3 {
  margin-top: 0; }

@media (max-width: 585px) {
  .wizard {
    width: 90%;
    height: auto !important; }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px; }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px; }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%; } }
#mehsulu_al {
  height: 500px; }

.title{
    background-color:black;
}

